
.Appheader {
    background-color: #2d2834;
    min-height: 100vh;
    color: white;
    text-align: center;
  }
  
  
  .sidemenu {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidemenu ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    font-size: calc(10px + 2vmin); 
  }
  
  .sidemenu li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .sidemenu li:hover {
    color: #42A5F5;
  }
  .usericon {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Torna o elemento redondo */
    display: flex;
    justify-content: center; /* Centraliza o ícone verticalmente */
    align-items: center; /* Centraliza o ícone horizontalmente */
    margin-bottom: 20px;
    color: #333; /* Cor de fundo do ícone de usuário */
  }